@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500;600;800&display=swap');

:root {
    --primary: rgb(237,100,54);
  }

* {
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: "Nunito", sans-serif;
    font-weight: 501;
    background: black;
    display: flex;
    justify-content: center;
}
.container{
    width: 70%;
    background: white;
}
.header{
    padding:15px 30px 15px 30px;
    -webkit-box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.3);
}
.header__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__nav>img{
    width: 70px;
    height: 70px;
}
.header__nav_ul{
    display: flex;
    list-style: none;
}
.header__nav_ul li{
    margin: 20px;
    font-size: 1.5rem;
    padding: 10px;
}
.header__nav_ul--button{
    border: 3px solid var(--primary);
    padding: 10px 20px 10px 20px !important;
    border-radius: 0 30px 30px 30px;
}
.header__nav_ul>li>img{
    width: 10px;
    margin: 0 0 3px 0;
}
.main{
    padding:60px;
}
.titles{
    display: flex;
    justify-content: space-between;
    padding: 110px 0 40px 0;
    align-items: center;
}
.titles h1{
    font-size: 2rem;
    color: var(--primary);
}
.titles h2{
    font-size: 4.5rem;
}
.titles__button{
    font-size: 1.5rem;
    font-family: Nanuto, sans-serif;
    font-weight: 600;
    /* padding: 10px 20px; */
    /* padding: 10px 20px 10px 20px; */
    background: var(--primary);
    color: white;
    /* border: 3px solid var(--primary); */

    border: 3px solid var(--primary);
    padding: 10px 20px 10px 20px !important;
    border-radius: 0 30px 30px 30px;
    padding: 20px 30px 20px 30px !important;
}